<% document ||= @document %>

    <div class="card access">
        <div class="card-header">
            <%= t('geoblacklight.tools.access_data') %>
        </div>
        <%= link_to document.external_url do %>
            <%= t('geoblacklight.tools.explore') %><%= document.holding_institute %>
        <% end %>
    </div>

