<ul class="facet-values list-unstyled">
  <% paginator = facet_paginator(facet_field, display_facet) %>

  <% paginator.items.each do |item| -%>
    <li>
      <% if item.value == "none" && item.hits == 0 %>
        <li><%= t('geoblacklight.facets.none') %></li>
      <% else %>
        <%= render_facet_item(field_name, item) %>
      <% end %>
    </li>
  <% end %>
</ul>
