<% document ||= @document %>

<% if document.has_files? %>
    <div class="row">
        <%= content_tag :div, t('geoblacklight.show.geospatial_info.file.help'), class: 'col' %>
    </div>
    <div class="row mb-2">
        <%= select_tag 'download_geo_file_choose', options_for_select(document.files(t('geoblacklight.show.geospatial_info.file.none'))), class: 'form-select col-sm-9 download-select' %>
    </div>

    <div id="download_button" class="row mb-3">
                <%= button_tag fa_icon("download", text: t('geoblacklight.show.geospatial_info.file.download')), name: 'download_geo_file', class: 'btn btn-primary col-sm-7', href ='http://ipv4.download.thinkbroadband.com/5MB.zip', download: '5MB.zip' %>
    </div>
<% end %>
