<% document ||= @document %>

<% if document.has_files? %>
    <div class="row">
        <%= content_tag :div, t('geoblacklight.show.geospatial_info.file.help'), class: 'col' %>
    </div>
    <div class="row mb-2">
        <%= select_tag 'download_geo_file_choose', options_for_select(document.files(t('geoblacklight.show.geospatial_info.file.none'))), class: 'form-select col-sm-9 download-select' %>
    </div>

    <div id="download_button" class="row mb-3">
                <%= link_to (fa_icon "download", text: t('geoblacklight.show.geospatial_info.file.download')), url: 'https://demo.borland.com/testsite/downloads/Hello.txt', class: 'btn btn-primary col-sm-7', download: "test" %>
    </div>
<% end %>
