/*
*= require_tree .
*= require_self
*/

/** Override bootstrap variables **/
$primary: rgb(214, 171, 0);
$secondary: rgb(50, 50, 47);
$success: rgb(214, 171, 0);

/** Setup link color **/
$link-color: black;
$link-decoration: underline;

$link-hover-color: $primary;
$link-hover-decoration: underline;

/** Global CSS rules across the site **/
a:hover, a:focus, a:active {
    color: $primary ;
}

/** Default bootstrap uses black text on mustard **/
.btn-primary {
    color: rgb(255, 255, 255) !important;
}

/** Disable mustard halo on focus of button **/
.btn:focus {
    box-shadow: none !important;
}

.dropdown-toggle {
    padding: 8px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: $primary;
    color: #FFFFFF !important;
}

input.feature-checkbox {
    margin-left: 1px;
}

label.feature-label {
    margin-left: 20px;
}

.card-header {
    font-weight: 500;
}

.card-header {
    font-weight: 500;
}

.search-query-form {
    margin-left: auto;
    margin-right: auto;
}

/** Change layout and colour of main container **/
#main-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    width: 100%;
    max-width: 100% !important;
}

/** Css rules for navbar header **/
@import 'header';
/** Css rules for footer **/
@import "footer";
/** Css rules only for maps **/
@import 'map';
/** Css rules for search results **/
@import 'index';

@import 'blacklight';
@import 'geoblacklight';
@import "font-awesome";
@import 'bootstrap/functions';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
@import "bootstrap";
